
header {

    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: var(--color-primary-6);
    z-index: 3;

}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around

}

#nav_logo {
    font-size: 24px;
    color: var(--color-primary-2);
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: var(--color-primary-4);
    font-weight: 600;
    font-family:"Chakra Petch", sans-serif;;
}

.nav-item.active a {
color: var(--color-primary-3);
border-bottom: 3px solid var(--color-primary-1);

}
